In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [13]:
import pandas as pd
import numpy as np

In [6]:
s2 = pd.Series([1,2,3,4], index=['a','b','c','d'])

In [7]:
s2

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
s2 = pd.Series({'a':1, 'b': 2, 'c':3, 'd': 4})

In [9]:
s2

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
s2.head(2)

a    1
b    2
dtype: int64

In [15]:
pd.Series(range(1, 100))

0      1
1      2
2      3
3      4
4      5
      ..
94    95
95    96
96    97
97    98
98    99
Length: 99, dtype: int64

In [21]:
s = pd.Series([1,2,3,3,4,4,5, np.nan])

In [22]:
# 실제 길이
len(s)
# 실제 수 (np.nan을 제외한)
s.count()

8

7

In [23]:
s.unique()

array([ 1.,  2.,  3.,  4.,  5., nan])

In [26]:
# 결과는 series, 인덱스는 value, value는 count, np.nan은 제외
s.value_counts()

4.0    2
3.0    2
5.0    1
2.0    1
1.0    1
dtype: int64

In [30]:
# numpy와는 다르게 series는 index로 align 되어 연산을 한다.
s3 = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
s4 = pd.Series([4,3,2,1], index=['d', 'c', 'b', 'a'])

In [28]:
s3 + s4

a    2
b    4
c    6
d    8
dtype: int64