# Reindexing
- 새로운 index label 기반으로 기존의 "index-value" mapping은 유지한채 재배열 하는 것

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('max_columns', None)

In [4]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
#인덱스 변경
s.index = ['a', 'b', 'c', 'd', 'e']

In [6]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
df = pd.DataFrame(s, columns=['c1'])
df

   c1
a   1
b   2
c   3
d   4
e   5

In [11]:
# 컬럼을 인덱스로 변경
df.set_index('c1')

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5]

In [17]:
df2 = df.reindex(['a','b','c','d','e'])
df2

   c1
a   1
b   2
c   3
d   4
e   5

In [16]:
df2.reindex(['a','f','g'])

     c1
a 1.000
f   nan
g   nan

In [18]:
df2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [27]:
df3 = df.reindex([0,1,2,3,4], fill_value=0)
df3

   c1
0   0
1   0
2   0
3   0
4   0

In [28]:
df3.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [33]:
df3 = df3.astype(int)
df3

   c1
0   0
1   0
2   0
3   0
4   0

In [32]:
df3.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [37]:
df2.reindex(['a', 'f', 'c', 'g', 'e'], method='ffill')

   c1
a   1
f   5
c   3
g   5
e   5

In [43]:
import numpy as np

np.NaN
np.nan

nan

nan