In [9]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('max_columns', None)

In [2]:
import FinanceDataReader as fdr

In [11]:
# 삼성전자
df1 = fdr.DataReader('005930', '2021-01-02', '2021-10-30')

In [12]:
# KODEX 200 ETF
df2 = fdr.DataReader('069500', '2021-01-02', '2021-10-30')

In [13]:
df1.head(2)
df2.tail(2)

             Open   High    Low  Close    Volume  Change
Date
2021-01-04  81000  84400  80200  83000  38655276   0.025
2021-01-05  81600  83900  81600  83900  35335669   0.011

             Open   High    Low  Close   Volume  Change
Date
2021-04-22  43520  43690  43355  43400  6251618   0.001
2021-04-23  43170  43550  42925  43425  2743883   0.001

In [14]:
df1.shape
df2.shape

(77, 6)

(77, 6)

In [16]:
import datetime

In [30]:
df2 = df2.drop(pd.to_datetime('2021-01-05'))

In [31]:
df2.head()

             Open   High    Low  Close    Volume  Change
Date
2021-01-04  39538  40567  39359  40493  12185235   0.026
2021-01-06  41221  41631  40547  40703  15221599  -0.010
2021-01-07  41161  41991  41142  41651   8752407   0.023
2021-01-08  42195  43733  42065  43494  11521190   0.044
2021-01-11  43948  45317  42879  43604  23107696   0.003

In [39]:
new_df2 = df2.reindex(df1.index)

In [40]:
new_df2.shape

(77, 6)

In [43]:
new_df2.fillna(method='ffill')

                Open      High       Low     Close       Volume  Change
Date
2021-01-04 39538.000 40567.000 39359.000 40493.000 12185235.000   0.026
2021-01-05 39538.000 40567.000 39359.000 40493.000 12185235.000   0.026
2021-01-06 41221.000 41631.000 40547.000 40703.000 15221599.000  -0.010
2021-01-07 41161.000 41991.000 41142.000 41651.000  8752407.000   0.023
2021-01-08 42195.000 43733.000 42065.000 43494.000 11521190.000   0.044
...              ...       ...       ...       ...          ...     ...
2021-04-19 43855.000 44120.000 43730.000 43850.000  5106949.000  -0.000
2021-04-20 43760.000 44170.000 43760.000 44125.000  5454369.000   0.006
2021-04-21 43840.000 43905.000 43195.000 43335.000 11608961.000  -0.018
2021-04-22 43520.000 43690.000 43355.000 43400.000  6251618.000   0.001
2021-04-23 43170.000 43550.000 42925.000 43425.000  2743883.000   0.001

[77 rows x 6 columns]