## Expoloratory Data Analysis (EDA)

- 데이터의 특징을 찾아서 서머라이즈 등 데이터를 탐색하는 과정
- 1. 메타데이터: 데이터에 관한 데이터
  -  데이터 크기
  -  컬럼명
  -  데이터 타입
  -  비어 있는 데이터
  -  etc
- 2. 각 컬럼의 섬머리, 분포 등

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('data/my_data/naver_finance/2015_12.csv')

In [5]:
df.shape

(681, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     681 non-null    object
 1   매출액(억원)    680 non-null    float64
 2   영업이익률(%)   680 non-null    float64
 3   순이익률(%)    680 non-null    float64
 4   당기순이익(억원)  680 non-null    float64
 5   ROE(%)     665 non-null    float64
 6   ROA(%)     665 non-null    float64
 7   ROIC(%)    611 non-null    float64
 8   EPS(원)     681 non-null    float64
 9   BPS(원)     681 non-null    float64
 10  SPS(원)     681 non-null    float64
 11  PER(배)     668 non-null    float64
 12  PBR(배)     681 non-null    float64
 13  PSR(배)     668 non-null    float64
 14  price      681 non-null    float64
 15  price2     681 non-null    float64
dtypes: float64(15), object(1)
memory usage: 85.2+ KB

In [10]:
df['ticker'].dtype

dtype('O')

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
매출액(억원),680.0,30112.802159,108134.169795,3.560632,1727.088550,4692.059500,15243.673250,2.006535e+06
영업이익률(%),680.0,3.882082,13.142744,-191.601000,1.531500,4.193500,8.314000,6.427300e+01
순이익률(%),680.0,7.668574,151.566538,-193.426000,0.368750,3.066500,6.611500,3.923338e+03
당기순이익(억원),680.0,1312.760882,10133.596321,-22092.438000,10.859321,118.917932,504.201480,1.906014e+05
ROE(%),665.0,4.511992,130.082995,-529.306000,0.828000,5.350000,9.766000,3.122573e+03
ROA(%),665.0,1.836540,9.512183,-136.813000,0.275000,2.305000,5.338000,6.028700e+01
ROIC(%),611.0,-3.009479,195.155529,-4685.987000,1.357400,5.207800,10.549750,2.719567e+02
EPS(원),681.0,426.080667,34193.001661,-844700.060000,22.964040,539.108600,2197.651600,9.371301e+04
BPS(원),681.0,47451.879683,152959.284523,-230961.190000,4110.551300,10988.989000,39550.230000,3.017474e+06
SPS(원),681.0,95471.752357,316794.456637,50.177380,7504.219700,22559.920000,72356.336000,5.553036e+06
PER(배),668.0,18.921461,134.916297,-1435.921100,4.674065,11.743285,24.062380,2.808262e+03
PBR(배),681.0,1.581684,2.039918,-2.829490,0.621940,0.957250,1.671810,2.115384e+01
PSR(배),668.0,1.921548,19.849170,0.011330,0.309570,0.589505,1.142273,5.117181e+02
price,681.0,47344.199706,117063.700214,158.000000,3903.000000,12018.000000,40496.000000,1.225000e+06
price2,681.0,41784.562408,96318.572813,154.000000,4060.000000,10900.000000,39750.000000,1.064000e+06

In [11]:
df = df.rename(columns={'ticker': '종목명'})
df.head()

,종목명,매출액(억원),영업이익률(%),순이익률(%),당기순이익(억원),ROE(%),ROA(%),ROIC(%),EPS(원),BPS(원),SPS(원),PER(배),PBR(배),PSR(배),price,price2
0,AK홀딩스,28071.4790,3.787,-1.334,-374.43063,-7.677,-1.421,15.1196,-3245.7412,43497.723,211899.220,-19.47167,1.45295,0.29825,63200.0,56000.0
1,BGF,43342.8000,4.236,3.526,1528.41270,22.771,10.327,271.9567,3071.8716,15605.457,87779.875,28.77862,5.66495,1.00711,44202.0,42140.0
2,BNK금융지주,51740.2540,13.455,10.253,5304.71200,9.116,0.609,NaN,1853.1799,21665.062,19749.037,4.54354,0.38864,0.42635,8420.0,8680.0
3,BYC,1821.9598,11.598,7.222,131.58138,3.546,2.024,13.2353,15693.8080,453030.620,216899.980,29.27907,1.01428,2.11849,459500.0,397000.0
4,CJ,211667.0800,5.789,2.604,5511.15530,5.874,2.365,5.8208,5780.6260,110304.560,594563.900,40.94442,2.14574,0.39808,236684.0,176334.0