In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('max_columns', None)

### join & merge 각각 언제 사용?
- index가 하나라도 관여하면 => join()
- 둘다 column에 맞춰야하면 => merge()
- merge() 사용시, left_index, right_index 사용하면 join()과 결과가 같음
- join() 사용시 reset_index() 하고, merge 써도됨

In [3]:
a = pd.DataFrame([1,2,3], index=['a', 'b', 'c'], columns=['안녕'])
b = pd.DataFrame([4,2,6], index=['a', 'c', 'd'], columns=['안녕'])
a
b

   안녕
a   1
b   2
c   3

   안녕
a   4
c   2
d   6

In [4]:
# index 리셋이 됨..
a.merge(b)

   안녕
0   2

In [11]:
# 둘 다 인덱스를 쓰겠다.
# 둘 다 이름이 같으니 x, y 가 붙는다.
a.merge(b, left_index=True, right_index=True)

   안녕_x  안녕_y
a     1     4
c     3     2

In [13]:
a.join(b, lsuffix='_x', rsuffix='_y', how='inner')

   안녕_x  안녕_y
a     1     4
c     3     2

In [21]:
a = pd.DataFrame({'a': [1,2,3]}, index=[1,2,2])
b = pd.DataFrame({'b': [1,5,6]}, index=[1,4,5])
a
b

   a
1  1
2  2
2  3

   b
1  1
4  5
5  6

In [22]:
# index 2가 중복이라 에러가 나는 거다
pd.concat([a,b], axis=1)

ValueError: Shape of passed values is (7, 2), indices imply (5, 2)