In [1]:
import matplotlib.pyplot as plt
# 노트북에서 인라인으로 바로 보여줄 수 있도록 하는 명령어
%matplotlib inline

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
import FinanceDataReader  as fdr

### Stateful
- matplotlib이 암묵적으로 현재 상태를 들고 있음
  - 내부적으로 현재 타겟이 되는 figure ,ax 등을 설정하고, operation이 발생하면 '내부에서' 해당 figure, ax에 적용함
- 사용은 비추
  - matplotlib이 암묵적, 내부적으로 변환을 진행하고 적용하기 때문에, 직관적이지 못함
  - 다수의 plot을 한 번에 그리기 어령무
  - 그냥 간단히 테스트 해볼 때 정도에만 사용

In [3]:
samsung_df = fdr.DataReader('005390', '2017-01-01', '2017-12-31')
samsung_df.head()

            Open  High   Low  Close   Volume    Change
Date
2017-01-02  1260  1300  1255   1295  1232965  0.040161
2017-01-03  1305  1315  1280   1310   886559  0.011583
2017-01-04  1305  1310  1280   1305   446070 -0.003817
2017-01-05  1305  1330  1300   1320   721691  0.011494
2017-01-06  1320  1345  1305   1325   645608  0.003788